# Browsers that we support
# https://browserl.ist/?q=%3E+1%25+in+JP%2C+last+1+Chrome+versions%2C+last+1+FireFox+versions%2C+last+1+Edge+versions%2C+last+1+Safari+versions%2C+IE+%3E%3D+11

> 1% in JP
last 1 Chrome versions
last 1 FireFox versions
last 1 Edge versions
last 1 Safari versions
IE >= 11
